<!-- <button routerLink="/teacher" class="btn btn-xlarge btn-dark">
  Go To teachers
</button>

<button routerLink="/subject" class="btn btn-xlarge btn-dark">
  Go To subjects
</button>

<button routerLink="/student" class="btn btn-xlarge btn-dark">
  Go To students child route to grades here
</button>

<button routerLink="/sing-up" class="btn btn-xlarge btn-dark">
  register
</button> -->
<!-- 
HomePage
<section id="ControlPanel" class="bg-dark text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <a
          id="btnGeneric"
          class="btn btn-lg btn-outline-light"
          role="button"
          (click)="CloseStudentOutlet()"
          >Students</a
        >
      </div>
      <div class="col-md-6 text-center">
        <a
          id="btnGeneric"
          class="btn btn-lg btn-outline-light"
          role="button"
          (click)="CloseTeacherOutlet()"
          >Teachers</a
        >
      </div>
    </div>
  </div>
</section> -->

<!-- <div [hidden]="!showTeacher">
  <router-outlet name="tch"></router-outlet>
</div>
<div [hidden]="!showStudent">
  <router-outlet name="emp"></router-outlet>
</div> -->

<router-outlet></router-outlet>
