<div class="centerText">
  <form
    class="form-user"
    #loginForm="ngForm"
    (ngSubmit)="OnSubmit(UserName.value, Password.value)"
  >
    <img
      class="mb-4"
      src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg"
      alt=""
      width="72"
      height="72"
    />
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail" class="sr-only">Email address</label>

    <input
      autofocus=""
      type="email"
      class="form-control"
      placeholder="Email address"
      #UserName
      ngModel
      name="UserName"
      placeholder="Username"
      required
    />
    <label for="inputPassword" class="sr-only">Password</label>
    <input
      type="password"
      #Password
      ngModel
      name="Password"
      placeholder="Password"
      required
      class="form-control"
    />
    <button
      [disabled]="!loginForm.valid"
      style="margin-top: 20px;"
      class="btn btn-lg btn-primary btn-block"
      type="submit"
    >
      Sign in
    </button>
  </form>
  <label [routerLink]="['/signup']">
    Register
  </label>
  <div *ngIf="isLoginError" class="errorMessage">
    <i class="material-icons">error</i> Incorrect username or password
  </div>
</div>
